/vendor
/node_modules
/public/build
/public/hot

.env
.phpunit.result.cache

/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

.idea
.vscode